<?xml version="1.0" encoding="UTF-8"?>
<!-- "vendor/bin/phpunit" to run unit tests -->
<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="mosquito">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <!-- for code coverage, xdebug extension required -->
    <filter>
        <whitelist>
            <directory>src/Mosquito</directory>
        </whitelist>
    </filter>
</phpunit>